:root {
    --main-title: #FFFFFF;
    --light-text: #D2D2D2;
    --medium-text: #A1A0A0;
    --secondary-color: #16DB99;
}

body {
    margin: 0;
    font-family: 'Smythe', serif;
}

.container {
    width: 600px;
    margin: 0 auto;
    position: relative;
}

.figure-container {
    margin: 0;
    position: relative;
}

.header-img {
    background-image: url('/assets/images/burger.png');
    width: 600px;
    height: 180px;
    background-size: cover;
    filter: grayscale(1);
}

.header-titles {
    position: absolute;
    top: 20px;
    margin: 0;
    left: 40px;
    letter-spacing: 0.5px;
}

.title {
    color: var(--main-title);
    margin-bottom: 0px;
    font-size: 39px;
}

.sub-title {
    font-size: 22px;
    margin-top: 5px;
    color: var(--main-title);
}

h2 {
    font-size: 28px;
    margin: 5px 0;
}

.prod-description {
    font-size: 16px;
    color: var(--medium-text);
    margin: 5px 0;
}

h3 {
    font-size: 20px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--light-text);
    margin: 20px 10px;
    padding: 20px 0;
}

.prod-emoji {
    font-size: 79px;
    margin: 0;
}

.prod-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

.prod-info {
    margin-left: 30px;
}

.prod-add-btn {
    font-size: 30px;
    margin: 0;
    border: 1px solid var(--light-text);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    align-self: center;
    text-align: center;
    line-height: 45px;
    font-family: 'Inter', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    color: #3C3C3C;
    cursor: pointer;
}

.prod-add-btn:hover {
    background-color: #f7f7f7;
}

.order-container {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.order-wrapper {
    display: flex;
    align-items: center;
}

.order-wrapper h3 {
    margin-right: 12px;
}

.order-wrapper p {
    color: var(--medium-text);
    cursor: pointer;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.order-title {
    text-align: center;
}


.total-price {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.complete-order {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
    background-color: var(--secondary-color);
    border: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.order-btn {
    width: 508px;
    height: 60px;
}

.order-btn:hover {
    opacity: 0.7;
}

.modal {
    border: 2px solid #16DB99;
    width: 524px;
    height: 524px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 250px;
    left: 35px;
    background-color: #FFF;
}

.modal h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-bottom: 50px;
}

.modal-btn {
    width: auto;
    height: 71px;

}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form input {
    width: 476px;
    height: 71px;
    margin-bottom: 22px;
    padding-left: 10px;
}

.modal-container {
    position: relative;
}

.close-btn {
    position: absolute;
    right: 0;
    top: -40px;
    font-size: 50px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.confirmation {
    display: flex;
    justify-content: center;
}

.order-thanks {
    background-color: #ECFDF5;
    color: #065F46;
    height: 120px;
    width: 504px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-thanks h2 {
    text-align: center;
    margin: 0;
}

.hidden {
    display: none;
}